body{
    background-color: black;
}

.navbar ul{
    border: white;
    min-width: 200px;
    height: 200px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    color: grey;
}

.navbar li{
    float: left;
}